#
# Copyright (C) 2026 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    mkdir /firmware 0771 system system

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

on boot
    setprop sys.usb.config adb
